Source: ceilometer
Section: web
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools (>= 9~),
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.6),
               python-sphinx
Build-Depends-Indep: alembic (>= 0.4.2),
                     mongodb,
                     python-anyjson (>= 0.3.3),
                     python-babel (>= 1.3),
                     python-ceilometerclient (>= 1.0.6),
                     python-coverage (>= 3.6),
                     python-croniter,
                     python-docutils (>= 0.9.1),
                     python-eventlet (>= 0.13.0),
                     python-fixtures (>= 0.3.14),
                     python-flask (>= 0.10),
                     python-glance (>= 2014.1~),
                     python-glanceclient (>= 1:0.10.0),
                     python-hacking (>= 0.8),
                     python-happybase (>= 0.8),
                     python-httplib2 (>= 0.7.5),
                     python-iso8601 (>= 0.1.8),
                     python-jsonpath-rw,
                     python-jsonschema (>= 2.0.0),
                     python-keystoneclient (>= 1:0.6.0),
                     python-kombu (>= 2.4.8),
                     python-lockfile,
                     python-lxml,
                     python-migrate (>= 0.8.2),
                     python-mock (>= 1.0),
                     python-mox,
                     python-msgpack,
                     python-mysqldb,
                     python-netaddr (>= 0.7.6),
                     python-nova (>= 2013.2~),
                     python-novaclient (>= 2:2.17.0),
                     python-oslo.config (>= 1.2.1),
                     python-oslo.vmware,
                     python-oslosphinx,
                     python-pecan (>= 0.4.5),
                     python-pymongo (>= 2.4),
                     python-pysnmp4 (>= 4.2.1),
                     python-requests (>= 1.1),
                     python-six (>= 1.6.0),
                     python-sphinxcontrib-docbookrestapi,
                     python-sphinxcontrib-httpdomain,
                     python-sphinxcontrib-pecanwsme (>= 0.6),
                     python-sqlalchemy (>= 0.7.8),
                     python-stevedore (>= 0.14),
                     python-subunit (>= 0.0.18),
                     python-swift (>= 1.12.0),
                     python-swiftclient (>= 1:1.6.0),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.34),
                     python-tz,
                     python-webob (>= 1.2.3),
                     python-wsme (>= 0.6),
                     python-yaml,
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/ceilometer.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/ceilometer.git
Homepage: http://wiki.openstack.org/Ceilometer

Package: python-ceilometer
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: alembic (>= 0.4.2),
         libjs-jquery,
         python-anyjson (>= 0.3.3),
         python-ceilometerclient (>= 1.0.6),
         python-croniter,
         python-eventlet (>= 0.13.0),
         python-flask (>= 0.10),
         python-glanceclient (>= 1:0.10.0),
         python-greenlet (>= 0.4),
         python-happybase (>= 0.8),
         python-iso8601 (>= 0.1.8),
         python-jsonpath-rw,
         python-jsonschema (>= 2.0.0),
         python-keystoneclient (>= 1:0.6.0),
         python-kombu (>= 2.4.8),
         python-lockfile,
         python-lxml,
         python-migrate (>= 0.8.2),
         python-msgpack,
         python-mysqldb,
         python-netaddr (>= 0.7.6),
         python-novaclient (>= 2:2.17.0),
         python-oslo.config (>= 1.2.1),
         python-oslo.vmware,
         python-pbr (>= 0.6),
         python-pecan (>= 0.4.5),
         python-pymongo (>= 2.4),
         python-pysnmp4 (>= 4.2.1),
         python-requests (>= 1.1),
         python-six (>= 1.6.0),
         python-sqlalchemy (>= 0.7.8),
         python-stevedore (>= 0.14),
         python-swiftclient (>= 1:1.6.0),
         python-tz,
         python-webob (>= 1.2.3),
         python-wsme (>= 0.6),
         python-yaml,
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack efficient metering counters system - Python libraries
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the Python libraries that are needed for all parts of
 Ceilometer.

Package: ceilometer-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dpkg-dev,
         python-ceilometer (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
Description: OpenStack efficient metering counters system - common files
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains files that are needed for all parts of Ceilometer.

Package: ceilometer-collector
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - collector service
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the collector service.

Package: ceilometer-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         ceilometer-common (= ${binary:Version}),
         debconf,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system (API service)
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the API service.

Package: ceilometer-agent-compute
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - compute agent
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the compute agent.

Package: ceilometer-agent-central
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - central agent
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the central agent.

Package: ceilometer-alarm-evaluator
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - alarm evaluator
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the alarm evaluator daemon.

Package: ceilometer-alarm-notifier
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - alarm notifier
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the alarm notifier daemon.

Package: ceilometer-agent-notification
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ceilometer-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack efficient metering counters system - alarm notifier
 Ceilometer aims to deliver a Single Point Of Contact for billing systems,
 providing all the counters they need to establish customer billing, across
 all current and future OpenStack components. The delivery of counters must be
 traceable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the notification agent daemon.
