Source: ceilometer
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Loic Dachary (OuoU) <loic@debian.org>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
 po-debconf,
 python-all (>= 2.6.6-3~),
 openstack-pkg-tools
Build-Depends-Indep: pep8,
 python-argparse,
 python-anyjson (>= 0.2.4),
 python-babel,
 python-coverage,
 python-docutils,
 python-eventlet,
 python-extras,
 python-flask (>= 0.9),
 python-glance (>= 2013.1~),
 python-glanceclient (>= 1:0.6),
 python-iso8601,
 python-keystoneclient (>= 1:0.2),
 python-kombu,  
 python-lockfile,
 python-lxml,
 python-ming,
 python-mock,
 python-mox,   
 python-netaddr,
 python-netifaces,
 python-nose,
 python-nova (>= 2013.1~),
 python-novaclient (>= 2:2.6.10),
 python-oslo-config,
 python-pecan,
 python-pymongo,
 python-requests,
 python-setuptools-git,
 python-sphinx,
 python-sqlalchemy (>= 0.7.3),
 python-sqlalchemy (<=0.7.9),
 python-stevedore (>= 0.6),
 python-swiftclient,
 python-unittest2,
 python-webob (>= 1.2),
 python-wsme,
 python-yaml
Standards-Version: 3.9.3
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/ceilometer.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/ceilometer.git
Homepage: http://wiki.openstack.org/Ceilometer

Package: python-ceilometer
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${python:Depends}, ${misc:Depends},
 libjs-jquery,
 python-argparse,
 python-anyjson (>= 0.2.4),
 python-eventlet,
 python-extras,
 python-flask (>= 0.9),
 python-glanceclient (>= 1:0.6),
 python-greenlet (>= 0.4),
 python-keystoneclient (>= 1:0.2),
 python-iso8601,
 python-kombu,
 python-lockfile,
 python-lxml,
 python-netaddr,
 python-novaclient (>= 2:2.6.10),
 python-oslo-config,
 python-pecan,
 python-pymongo,
 python-requests,
 python-sqlalchemy (>= 0.7.3),
 python-sqlalchemy (<=0.7.9),
 python-stevedore (>= 0.6),
 python-swiftclient,
 python-webob (>= 1.2),
 python-yaml
Description: OpenStack efficient metering counters system (Python libraries)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the Python libraries that are needed for all parts of
 Ceilometer.

Package: ceilometer-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-ceilometer (= ${binary:Version}), ${python:Depends}, ${misc:Depends}, adduser
Provides: ${python:Provides}
Description: OpenStack efficient metering counters system (common files)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains files that are needed for all parts of Ceilometer.

Package: ceilometer-collector
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Recommends: python-pymongo (>= 2.2), python-sqlalchemy
Depends: ${ostack-lsb-base}, ceilometer-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack efficient metering counters system  (collector service)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the collector service.

Package: ceilometer-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Recommends: python-pymongo (>= 2.2), python-sqlalchemy
Depends: adduser, debconf, ${ostack-lsb-base}, ceilometer-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack efficient metering counters system (API service)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the API service.

Package: ceilometer-agent-compute
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${ostack-lsb-base}, ceilometer-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack efficient metering counters system (compute agent)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the compute agent.

Package: ceilometer-agent-central
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${ostack-lsb-base}, ceilometer-common (= ${binary:Version}), ${python:Depends},
 ${misc:Depends}
Description: OpenStack efficient metering counters system (central agent)
 Ceilometer aims to deliver a unique point of contact for billing systems to 
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This package contains the central agent.
